p{margin-left:20px; margin-right:20px;}
h1{font-familiy: "Verdana", Geneva, serif;}

/* This style is for the nav bar */
#navbar ul 
{ 
    margin: 0; 
    padding: 8px; 
    cellspacing: 0;
    cellpadding: 0;
	margin-top:5px;
    border: 0;
    list-style-type: none; 
    background-color: #000000; 
	border-radius: 15px;
} 

#navbar ul li
{  
    display: inline;
} 

#navbar ul li a 
{ 
    text-decoration: none; 
    padding: .2em 1em; 
    color: #000000; 
    background-color: #000000; 
	border-radius: 15px;
} 

#navbar ul li a:hover
{ 
    color: #000000; 
    background-color: #FFFFFF; 
}