p{margin-left:20px; margin-right:20px;}
h1{font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;}
h2{font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;}
h3{font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;}
a:hover {color: #000000;}
#slink a:hover
{
	color: #000000; 
}
#pagecenter
{
    height: 200px;
    width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
/* This style is for the nav bar */
#navbar ul 
{ 
    margin: 0; 
    padding: 10px; 
    cellspacing: 0;
    cellpadding: 0;
	margin-top:5px;
    border: 0;
    list-style-type: none; 
    background-color: #000000; 
	border-radius: 15px;
} 

#navbar ul li
{  
    display: inline;
} 

#navbar ul li a 
{ 
    text-decoration: none; 
    padding: .2em 1em; 
    color: #FFFFFF; 
    background-color: #000000; 
	border-radius: 15px;
} 

#navbar ul li a:hover
{ 
    color: #000000; 
    background-color: #FFFFFF; 
}